body{
  font-family: Georgia;
  background: #28D0FD;
  color: white;
}


table,td{
   border: 2px solid black;
}

.center{
  text-align: center;
}
.bluehead{
  color: blue;
}

img{
border-radius:100%;

}
